////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(10) rem(11);
    height: rem(60);
    background: linear-gradient(to left, color(header-green), color(header-blue), color(header-lightblue));
    button {
        cursor: pointer;
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
    }
    &__figure {
        width: rem(30);
        height: rem(30);
        display: inline-block;
        vertical-align: middle;
    }
    &__figure--knowler{
        width: rem(46);
        // height: rem(42);
        margin-left: 8%;
        display: inline-block;
        vertical-align: middle;
    }
    &__figure--profile{
        width: rem(48);
        // height: rem(42);
        margin-left: rem(10);
        display: inline-block;
        vertical-align: middle;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__title {
        color: color(danger);
        font-size: rem(18);
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(15);
        &:not(:last-child) {
            &:after {
                content: '•';
                display: inline-block;
                margin-left: rem(15);
                margin-right: rem(15);
            }
        }
    }
    &__txt {
        display: inline-block;
        vertical-align: middle;
        color: color(white);
        font-size: rem(16);
        font-weight: 100;
    }
    &__menu {
        display: flex;
        width: 40%;
        padding-left: 5px
    }
    &__hamburger-menu {
        color: color(white);
    }
    &__input-container {
        display: flex;
        align-items: center;
        padding-right: rem(15);
    }
    &__input {
        display: none;
    }
    &__lens-icon {
        color: color(white);
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        padding-right: rem(7);
    }
    &__nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__actions {
        display: flex;
        align-items: center;
    }
    &__nav-list {
        display: none;
    }
    &__menu--mobile {
        display: none;
    }
    &__brand {
        display: none;
    }  
}

@include media-query (sm) {
    .#{$ns}header {
        height: rem(75);
        &__menu {
            width: 30%;
            padding-left: rem(6);
            justify-content: flex-start;
        }
        &__input-container {
            padding-left: rem(11);
            padding-right: 0;
        }
        &__nav {
            width: 70%;
        }
        &__input {
            display: flex;
            height: rem(40);
            width: 20rem;
            font-size: rem(15);
        }
        &__lens-btn{
            position: relative;
            left: -13%;
            cursor: pointer;
        }
        &__lens-icon {
            color: color(default-light);
        }
        &__figure--knowler{
            display: none;
        }
        &__figure--lens {
            height: 20px;
            width: 18px;
        }
        &__brand {
            user-select: none;
            display: flex;
            letter-spacing: 1.5px;
            padding-top: rem(20);
            padding-left: rem(21);
        }
        &__brand--link:hover {
            text-decoration: none;
        }
    }
}

@include media-query (md) {
    .#{$ns}header {
        &__menu {
           width: 25%;
        }
        &__nav {
            width: 75%;
        }
        &__input {
            width: rem(400);
        }
        &__actions {
            padding-right: rem(20);
        }
        &__actions--item {
            padding: 0 rem(5)
        }
    }
}

@include media-query (lg) {
    .#{$ns}header {
        height: rem(75);
        &__hamburger-menu {
            display: none;
        }
        &__figure--knowler{
            display: none;
        }
        &__menu {
            width: 13%;
        }
        &__nav {
            width: 87%;
        }
        &__input {
            width: 23rem;
        }
        &__lens-btn{
            position: relative;
            left: -13%;
            cursor: pointer;
        }
        &__nav-list {
            display: flex;
            width: 48%;
            justify-content: space-evenly;
        }
        // &__nav-list-item {
            
        // }
        // &__nav-list-icon {
           
        // }
        &__nav-list-link {
            color: color(white);
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
        }
        &__nav-list-link:hover {
            text-decoration: none;
        }
        &__actions {
            width: 15%;
            justify-content: space-between;
            padding-left: 3%;
        }
        &__figure--everis {
            width: rem(42);
        }
    }
}

@include media-query (xl) {
    .#{$ns}header {
        &__input {
            width: rem(510);
        }
        &__lens-btn{  
            left: -6%;
        }
    }
}