////
/// CARD-EVENTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-events
/// @since version 1.0.0
////
.#{$ns}card-events {
    margin-bottom: rem(12);
    max-width: rem(290);

    &__container {
        padding: 8%;
        padding-bottom: rem(4);
    }
    &__event{
        display: flex;
        width: 88%;
        margin: 5% 0 2% 0;
        padding-bottom: 10px;
    }
    &__event-item {
        margin-left: rem(8);
        margin-top: rem(8);
        width: 73%;
    }
    &__event-link {
        margin-bottom: rem(4);
        display: block;
        text-decoration: underline;
    }
    &__event-link:visited {
        text-decoration: underline;
        color: color(card-blue);
    }
    &__day {
        display: flex;
        flex-direction: column;
    }
    &__day--title {
        display: block;
        text-transform: uppercase;
    }
    &__day--time {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color(card-blue);
        @include border-radius(50%);
        color: color(white);
        width: rem(48);
        height: rem(48);
    }
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: rem(50);
    }
    &__footer::before {
        display: inline-block;
        content: "";
        border-top: rem(1) solid color(default-light);
        width: 100%;
    }
    &__footer--link {
        margin-top: rem(16);
    }
    &__footer--link:visited {
        color: color(card-blue);
    }
    &__footer-icon {
        color: color(card-blue);
    }
}

// @include media-query (sm) {
//     .#{$ns}card-events {
       
//     }
// }

// @include media-query (md) {
//     .#{$ns}card-events {
        
//     }
// }

@include media-query (lg) {
    .#{$ns}card-events {
        max-width: rem(305);
    }
}

// @include media-query (xl) {
//     .#{$ns}card-events {
        
//     }
// }