////
/// CARD-MAILS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-mails
/// @since version 1.0.0
////
.#{$ns}card-mails {
    margin-bottom: rem(12);
    max-width: rem(290);

    &__container {
        padding-left: rem(16);
        display: flex;
        flex-direction: column;
    }
    &__mail-date {
        padding: rem(4) 0 rem(4) rem(2) ;
    }
    &__mail{
        margin: rem(10) rem(25) 0 rem(8);
        display: flex;
        flex-direction: column;
    }
    &__mail::after {
        display: inline-block;
        content: "";
        border-top: rem(1) solid color(default-light);
        width: 100%;
        margin-top: rem(10);
    }
    &__figure {
        width: rem(20);
        height: rem(20);
        display: inline-block;
        vertical-align: middle;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__mail-link {
        color: color(card-link);
        text-decoration: underline;
        margin-top: rem(8);
    }
}

// @include media-query (sm) {
//     .#{$ns}card-mails {
        
//     }
// }

@include media-query (md) {
    .#{$ns}card-mails {
        max-width: 100%;
    }
}

@include media-query (lg) {
    .#{$ns}card-mails {
        max-width: rem(305);
    }
}

@include media-query (xl) {
    .#{$ns}card-mails {
        max-width: rem(650);
    }
}