////
/// CARD-SHARED component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-shared
/// @since version 1.0.0
////

.#{$ns}card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: color(background-color);
    background-image: url('../../assets/images/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; 
}

.#{$ns}card-shared {
    display: flex;
    flex-direction: column;
    background-color: color(white);
    @include border-radius(rem(5));
    @include box-shadow (0 0 rem(1) color(default));

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 rem(10);
        background-color: color(card-blue);
        height: rem(55);
        @include border-radius (rem(5), 'top-left');
        @include border-radius (rem(5), 'top-right');
    }
    &__title {
        display: flex;
        align-items: center;
        width: 80%;
        padding-left: rem(15);
        justify-content: flex-start;
        text-transform: uppercase;
    }
    &__title--icon {
        color: color(white);
        padding-right: rem(17);
    }
    &__options {
        display: flex;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: rem(50);
    }
    &__footer::before {
        display: inline-block;
        content: "";
        border-top: rem(1) solid color(default-light);
        width: 100%;
    }
    &__footer--link {
        margin: rem(11) 0;
    }
    &__footer--link:visited {
        color: color(card-blue);
    }
    &__footer-icon {
        color: color(card-blue);
    }

    &__events-notifications-container {
        margin-top: rem(31);
        margin-left: rem(16);
    }
    &__mail-proyect-container {
        margin-top: rem(13);
        margin-left: rem(16);
    }
}

@include media-query (sm) {
    .#{$ns}card-shared {
        &__events-notifications-container {
            margin-top: rem(31);
            margin-left: rem(16);
            width: 46%;
        }
        &__mail-proyect-container {
            margin-top: rem(31);
            margin-left: rem(16);
            width: 46%;
        }
    }
}

@include media-query (md) {
    .#{$ns}card-shared {
        &__events-notifications-container {
            width: rem(305);
        }
        &__mail-proyect-container {
            width: rem(411);
        }  
    }
}

@include media-query (lg) {
    .#{$ns}card-shared {
        &__events-notifications-container {
            margin-top: rem(48);
            margin-left: rem(25);
            width: rem(305);
        }
        &__mail-proyect-container {
            margin-top: rem(48);
            margin-left: rem(25);
            width: rem(305);
        } 
    }
}

@include media-query (xl) {
    .#{$ns}card-shared {
        &__events-notifications-container {
            margin-top: rem(54);
            margin-left: rem(22);
            width: 23%;
        }
        &__mail-proyect-container {
            margin-top: rem(54);
            width: 47%;
        }
    }
}