////
/// CARD-NOTIFICATIONS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-notifications
/// @since version 1.0.0
////
.#{$ns}card-notifications {
    max-width: rem(290);

    &__container {
        padding-left: rem(16);
    }
    &__notification{
        display: flex;
        align-items: baseline;
        margin-top: 5%;
    }
    &__notification-item {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: rem(8);
        margin-top: rem(8);
    }
    &__notification-item::after {
        display: inline-block;
        content: "";
        border-top: rem(1) solid color(default-light);
        width: 130%;
        margin-top: rem(10);
    }
    &__notification-text {
        margin-bottom: rem(2);
        width: 99%;
    }
    &__deadline {
        margin-top: rem(3);
    }
    &__icon-container {
        display: flex;
        justify-content: center;
        width: 30%;
    }
    &__icon-check {
        color: color(header-green);
    }
    &__icon-warning {
        color: color(warning);
    }
}

@include media-query (sm) {
    .#{$ns}card-notifications {
        margin-top: rem(30);
    }
}

// @include media-query (md) {
//     .#{$ns}card-notifications {
       
//     }
// }

@include media-query (lg) {
    .#{$ns}card-notifications {
        max-width: rem(305);
    }
}

// @include media-query (xl) {
//     .#{$ns}card-notifications {
       
//     }
// }