////
/// CARD-CONTACTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-contacts
/// @since version 1.0.0
////
.#{$ns}card-contacts {
    margin-top: rem(13);
    margin-left: rem(16);
    max-width: rem(290);
    max-height: rem(481);

    &__header-contact {
        height: rem(71);
    }
    &__nav {
        display: inline-block;
    }
    &__nav-tab {
        display: flex;
        background-color: #ecf2f9;
    }
    &__figure {
        width: rem(44);
        height: rem(44);
        display: inline-block;
        vertical-align: middle;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__nav-item{
        color: color(card-blue);
        height: rem(41);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
    }
    &__container {
        padding-left: rem(16);
        display: flex;
        flex-direction: column;
        overflow: scroll;
        max-height: rem(420);
    }
    &__contact{
        margin: rem(10) rem(17) 0 rem(8);
    }
    &__contact--line {
        border-bottom: rem(1) solid color(default-light);
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    &__text {
        margin: rem(5) 0;
    }
    &__link {
        color: color(card-link);
        text-decoration: underline;
    }
    &__details {
        display: flex;
        flex-direction: column;
        margin: rem(7) rem(17) 0 rem(10);
        width: rem(160);
    }
    &__contact-icon {
        margin-top: rem(10);
    }
}

// @include media-query (sm) {
//     .#{$ns}card-contacts {
        
//     }
// }

// @include media-query (md) {
//     .#{$ns}card-contacts {
        
//     }
// }

@include media-query (lg) {
    .#{$ns}card-contacts {
        margin-top: rem(48);
        margin-left: rem(30);
        width: rem(307);
        max-width: rem(307);
    }
}

@include media-query (xl) {
    .#{$ns}card-contacts {
        margin-top: rem(55);
        margin-left: rem(20);
        width: rem(296);
        max-width: rem(296);
    }
}