////
/// CARD-PROYECTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}card-proyects
/// @since version 1.0.0
////
.#{$ns}card-proyects {
    max-width: rem(290);

    &__nav {
        display: inline-block;
        background-color: #ecf2f9;
    }
    &__nav-tab {
        display: flex;
    }
    &__nav-item{
        color: color(card-blue);
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
    }
    &__nav-item--selected {
        border-bottom: solid rem(2) color(card-blue);
    }
    &__container {
        padding-left: rem(16);
        display: flex;
        flex-direction: column;
    }
    &__proyect{
        margin: rem(10) rem(25) 0 rem(8);
        display: flex;
        flex-direction: column;
    }
    &__proyect::after {
        display: inline-block;
        content: "";
        border-top: rem(1) solid color(default-light);
        width: 100%;
        margin-top: rem(15);
    }
    &__text {
        margin: rem(7) 0;
    }
    &__link {
        color: color(card-link);
        text-decoration: underline;
        margin-top: rem(13);
    }
    &__proyect-types {
        margin-top: rem(5);
    }
    &__proyect-type {
        width: rem(127);
        height: rem(25);
        margin: 0 rem(8) 0 0;
        padding: rem(6) rem(8);
        @include border-radius(rem(12.5));
        background-color: color(card-proyect);
    }
    &__proyect-type--more {
        border: 2px solid color(card-proyect);
        @include border-radius(rem(12.5));
        padding: rem(2) rem(9);
    }
   
}

@include media-query (sm) {
    .#{$ns}card-proyects {
        margin-top: rem(30);
    }
}

@include media-query (md) {
    .#{$ns}card-proyects {
        max-width: 100%;
    }
}

@include media-query (lg) {
    .#{$ns}card-proyects {
        max-width: rem(305);
    }
}

@include media-query (xl) {
    .#{$ns}card-proyects {
        max-width: rem(650);
        &__nav-tab {
            width: 60%;
         }
    }
}